body{
    margin: 0;
    height: 100vh;
    background-color: black;

}

span{
    background-image: url('https://cdn-icons-png.freepik.com/128/833/833472.png');
    width: 100px;
    height:100px;
    background-size: cover;
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 4s linear ;

}


@keyframes animate{
    0%{
        transform:translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform:translate(-50%, -5000%);
        opacity: 0;
    }
}